<%- include header %>
<div class="col-md-6 column" style="margin-left:500px; margin-top:70px">
<form method="post">
  标题：<br />
  <input type="text" name="title" /><br />
  正文：<br />
  <textarea name="content" rows="20" cols="100"></textarea><br />
  <input type="submit" value="发表" />
</form>
</div>
<%- include footer %>