<!DOCTYPE html>

<html>
<head> 
  <meta charset="utf-8"> 
  <title>new World!</title>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/Cesium/method/index.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/">首页</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
               <a href="#">二维</a>
            </li>
            <li>
               <a id="sanwei" href="#">三维</a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">博客<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                   <a href="/ablog">我的博客</a>
                </li>
                <li class="divider">
                </li>
                <li>
                   <a href="http://blog.sina.com.cn/">新浪博客</a>
                </li>
                <li class="divider">
                </li>
                <li>
                   <a href="#">其他</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" />
            </div> <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
          </form>
          <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
            <li>
               <a id="status1" style="display: none;">游客</a>
               <a id="status2" style="display: none;"><%= username %></a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"">用户中心<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                   <a class="btn" href="/login">登录</a>
                </li>
                <li>
                   <a class="btn" href="/register">注册</a>
                </li>
                <li class="divider">
                </li>
                <li>
                   <a class="btn" href="/logout">注销</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>